@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-300 */
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}

html, body {
  scroll-behavior: smooth;
}
